@font-face {
    font-family: 'Inter';
    src: url('/css/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/css/fonts/Inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/css/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/css/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    color: #1E1E1E;
    background-color: #F9F8EB;
    font-family: Inter;
}

header {
    display: flex;
    justify-content: space-between;  
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
}

    header > p {
        font-size: 15px;
        font-weight: 700;
    }
    

.button-logout {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
    border: none;
}
.button-logout:hover {
color: #E83671;
}



a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
}

a:hover {
    color: #E83671;
}

.page {
    display: flex;
    justify-content: center; 
    height: 100%;
    min-height: 100vh
}

.wrapper {
    max-width: 1200px;

    width: 100%;
    height: 100%
}

span {
    cursor: pointer;
}
    

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

    .content .links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 15%;
        height: 100%;
    }

    .content .projects-list {
        width: 100%;
        height: 100%;
    }

.button-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

    .button-div > button {
        background-color: #E83671;
        color: #FFFFFF;
        border: none;
        border-radius: 50px;
        font-size: 15px;
    }

    .new-proyect-pc {
        font-size: 14px;
        width: 100%;
        height: 40px;
        font-weight: 600;
    }
    .new-proyect-mobile {
        font-size: 20px;
        width: 150px;
        height: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .button-div > button:hover {
        box-shadow: 2px 2px 10px #E83671;
    }

/* Form */
.form-style {
    max-width: 360px;
}

.form-group {
    margin: 10px 0;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #E83671;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-size: 15px;
}

    .btn:hover {
        box-shadow: 2px 2px 10px #E83671;
    }

.oi-x {
    cursor: pointer;
}




/* Media query for small screens */

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }

        .content .links {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
    header {
        justify-content: space-around;
    }

    .form-style{
        margin-top: 20px;
    }

}

/* Media query for large screens */

@media only screen and (min-width: 769px) {

    .content .links {
        justify-content: flex-start;
    }

    
}

@media only screen and (max-width: 1300px) {

    
    .wrapper {
        padding: 0px 20px;
    }
}
