@inherits LayoutComponentBase

<PageTitle>TaskScribby</PageTitle>

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->
    <MediaQueryList>
    <main>      
            @Body
    </main>
    </MediaQueryList>
</div>
