@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; max-width: 500px; width: 100%; margin: auto">
    <h1>@ViewData["Title"]</h1>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <div id="submit-container" style="display:table;">
            <button id="registerSubmit" type="submit">Register</button>
        </div>

    </form>
    <div style="text-align:center">
        <p>
            Already a member? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log IN!</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}